header {
  .logo {
    height: 25px;

    img {
      height: 100%;
    }
  }
}

/* au lieu de faire
Ça permet de mieux ségmenter la css
header .logo {
  height: 25px;
}

header .logo img {
  height: 100%;
}
*/